th {
    text-align: center;
}
.row button {
    padding: 21%;
    background-color: #51b5df;
    color: white;
    outline: 0;
    margin-left: 122%;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 62%;
}
